@import "../../styles/utils.scss";

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 64px 0;
}

.confirmBtn {
  margin-top: 32px;
}

@include tablet {
  .container {
    justify-content: space-evenly;
  }
  .logo {
    width: 550px;
  }
}

@include desktop {
  .container {
    justify-content: space-evenly;
  }
  .logo {
    width: 600px;
  }
}
