@import "../../styles/utils.scss";

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 64px 0;

  p {
    margin: 16px 0 24px 0;
    color: $lightgray-color;
    font-size: 14px;
    text-align: center;
  }
}

.confirmBtn {
  margin-top: 8px;
}

.linkContainer {
  margin-bottom: 96px;
}
.link {
  color: #494949;
  text-align: center;
}

.loading {
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid $lightgray-color;
  border-top: 3px solid $highlight-color;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@include tablet {
  .container {
    justify-content: space-evenly;
  }
  .logo {
    width: 550px;
  }
  .column {
    p {
      font-size: 18px;
    }
  }
}

@include desktop {
  .container {
    justify-content: space-evenly;
  }
  .logo {
    width: 600px;
  }
  .column {
    p {
      font-size: 20px;
    }
  }
}
