@import "../../styles/utils.scss";

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: inherit;
  height: 100%;
}
.dimmer {
  width: 100%;
  background-color: $background-color;
}

.fullScreenBtn {
  margin: 8px 0 0 8px;
  font-size: 22px;
  color: #7a3d00;
  z-index: 100;
  cursor: pointer;
}

.mySwiper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: calc(100vh - 68px - 330px);
  overflow-y: scroll;
}

.mySwiperMoved {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: calc(100vh - 54px);
  overflow-y: scroll;
}
@include desktop {
  .fullScreenBtn {
    margin-top: 60px;
  }
  .mySwiper {
    height: calc(100vh - 330px);
  }
  .mySwiperMoved {
    height: 100%;
  }
}
