@import "../../styles/utils.scss";

.container {
  height: 100%;
}
.dimmer {
  width: 100%;
  background-color: $background-color;
}

.fullScreenBtn {
  margin: 8px 0 0 8px;
  font-size: 22px;
  color: #7a3d00;
  z-index: 100;
}

.mySwiper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 50%;
  overflow-y: scroll;
}

.mySwiperMoved {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  // animation: slidein 3s linear 1s;
}

@include tablet {
  .mySwiper {
    height: 60%;
  }
}
