$background-color: #fbfbfb;
$main-color: #f3a95f;
$highlight-color: #f09134;
$lightgray-color: #8e8e8e;

.input-account {
  width: 70%;
  height: 50px;
  margin-top: 32px;
  padding-left: 20px;
  border: 1px solid $lightgray-color;
  border-radius: 30px;
  color: $lightgray-color;
}
.input-account:focus {
  outline: none;
  border-color: #f09134;
}

.btn-main {
  width: 70%;
  height: 50px;
  border: transparent;
  border-radius: 10px;
  background-color: $main-color;
  outline: none;
  color: #ffffff;
}
