$background-color: #fbfbfb;
$main-color: #f3a95f;
$highlight-color: #f09134;
$lightgray-color: #8e8e8e;

$small_device: 280px;
$mobile: 767px;
$tablet: 1024px;
$desktop: 1025px;

@mixin input($width, $height, $border-radius, $font-size) {
  width: $width;
  height: $height;
  margin-bottom: 32px;
  padding-left: 20px;
  border: 1px solid $lightgray-color;
  border-radius: $border-radius;
  font-size: $font-size;
  color: $lightgray-color;
}

@mixin btn($width, $height, $font-size) {
  width: $width;
  height: $height;
  border: transparent;
  border-radius: 10px;
  background-color: $main-color;
  outline: none;
  font-size: $font-size;
  color: #ffffff;
}

@mixin small_device {
  @media (max-width: $small_device) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: $small_device) and (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $mobile) and (max-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

.input-account {
  @include input(70%, 50px, 30px, 16px);
}
.input-account:focus {
  outline: none;
  border-color: #f09134;
}

.input-writing--title {
  @include input(80%, 50px, 10px, 16px);
}
.input-writing {
  @include input(90%, 350px, 10px, 16px);
}

.btn-main {
  @include btn(70%, 50px, 16px);
}

.btn-writing {
  @include btn(50%, 50px, 16px);
}

@include tablet {
  .input-account {
    @include input(70%, 68px, 30px, 18px);
  }
  .input-writing--title {
    @include input(80%, 50px, 10px, 18px);
  }
  .input-writing {
    @include input(90%, 350px, 10px, 18px);
  }
  .btn-main {
    @include btn(70%, 60px, 18px);
  }
  .btn-writing {
    @include btn(50%, 60px, 18px);
  }
}
