.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.logo {
  margin-top: 96px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50%;
  margin: 64px 0;
}
.keepLogin {
  display: flex;
  align-items: center;
  width: 70%;
  margin: 20px 0;
  text-align: start;
  color: #959595;
}

.linkContainer {
  margin-bottom: 96px;
}
.link {
  color: #494949;
  text-align: center;
}
