@import "../../styles/utils.scss";

.container {
  height: 100%;
  padding-top: 55px;

  h1 {
    margin: 16px 0 8px 0;
    font-size: 24px;
    text-align: center;
    font-weight: normal;
  }
}

.btnLogout {
  width: fit-content;
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 14px;
  color: $lightgray-color;
  text-align: end;
  float: right;
}

.mySwiper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 82%;
  overflow-y: scroll;
}

@include desktop {
  .container {
    height: 100vh;
  }
  .mySwiper {
    align-items: center;
    height: 100%;
  }
}
