@import "../../styles/utils.scss";

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50%;
  margin: 32px 0;
}

.btn {
  margin-top: 8px;
}

.linkContainer {
  margin-bottom: 80px;
}
.link {
  color: #494949;
  text-align: center;
  cursor: pointer;
}

.loading {
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid $lightgray-color;
  border-top: 3px solid $highlight-color;
  animation: spin 2s linear infinite;
}
.content-pointer-event-none {
  pointer-events: none;
}

@include tablet {
  .container {
    justify-content: space-evenly;
  }
  .logo {
    width: 550px;
  }
}

@include desktop {
  .container {
    justify-content: space-evenly;
  }
  .logo {
    width: 600px;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
