@import "../../styles/utils.scss";

.container {
  height: 100vh;
}

.wrapper {
  position: relative;
  height: 100%;
}

.svgTop {
  position: absolute;
}
.svgBottom {
  position: absolute;
  bottom: 0;
}

.contents {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 30px;
    color: #313131;
  }
  p {
    color: #787878;
  }
}

@include desktop {
  .svgBottom {
    bottom: -100px;
  }
  .contents {
    h1 {
      font-size: 32px;
    }
    p {
      font-size: 20px;
    }
  }
}
