.container {
  height: 100%;
}

.wrapper {
  position: relative;
  height: 100%;
}

.svgTop {
  position: absolute;
}
.svgBottom {
  position: absolute;
  bottom: 0;
}

.contents {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 30px;
    color: #313131;
  }
  p {
    color: #787878;
  }
}
